<template>
  <div>
    <Cabecalho id="header" titulo="Faturas" :sub_titulo="sub_titulo"/>

    <form id="form" v-on:submit="submit">
      <div class="form-group row">
        <label for="nomeEstatico" class="col-sm-4 col-form-label">Cliente</label>
        <div class="col-md-6 col-sm-8">
          <input
            type="text"
            readonly
            class="form-control"
            id="nomeEstatico"
            value="Carlos Pereira da Silva Dantas"
          >
        </div>
      </div>

      <div class="form-group row">
        <label for="nomeCompanhia" class="col-sm-4 col-form-label">
          Nome da empresa
          <sup class="text-danger">*</sup>
        </label>
        <div class="col-md-6 col-sm-8">
          <input
            type="text"
            class="form-control"
            placeholder="Digite o nome da empresa"
            v-model="fatura.nome_empresa"
            required
          >
        </div>
      </div>

      <div class="form-group row">
        <label for="valorFatura" class="col-sm-4 col-form-label">
          Valor
          <sup class="text-danger">*</sup>
        </label>
        <div class="col-md-6 col-sm-8">
          <Money
            type="text"
            class="form-control"
            required
            v-bind:value="fatura.data_vencimento"
            v-model="fatura.valor"
            v-bind="dinheiro"
          ></Money>
        </div>
      </div>

      <div class="form-group row">
        <label for="dataVencimento" class="col-sm-4 col-form-label">
          Data de vencimento
          <sup class="text-danger">*</sup>
        </label>
        <div class="col-md-6 col-sm-8">
          <input type="date" class="form-control" required v-model="fatura.data_vencimento">
        </div>
      </div>

      <div class="form-group row">
        <label for="pagoFatura" class="col-sm-4 col-md-4 col-form-label">Pago</label>
        <div class="col-md-2 col-sm-4">
          <input type="checkbox" v-model="fatura.pagou">
        </div>
      </div>

      <input type="submit" value="Salvar" class="btn btn-primary">
    </form>
  </div>
</template>

<script>
import Cabecalho from "../components/cabecalho";
import Axios from "axios";
import { Money } from "v-money";
const URL = "http://localhost:3003/fatura/";

export default {
  name: "FaturaFormulario",

  components: {
    Cabecalho,
    Money
  },

  data() {
    return {
      fatura: {},
      idfatura: -1,
      editando: false,
      sub_titulo: "Cadastrando",
      dinheiro: {
        decimal: ",",
        thousands: ".",
        prefix: "R$ ",
        precision: 2,
        masked: true
      }
    };
  },

  methods: {
    getDataPadrao() {
      return new Date(
        (this.fatura.data_vencimento + "GMT-0300")
          .split("/")
          .reverse()
          .join("/")
      );
    },

    submit(e) {
      e.preventDefault();

      const Fatura = {
        idfatura: this.fatura.idfatura || Math.floor(Math.random() * 2000) + 1,
        idcliente: 2,
        nome_empresa: this.fatura.nome_empresa,
        data_vencimento: this.getDataPadrao(),
        valor: this.fatura.valor
          .replace(this.dinheiro.prefix, "")
          .replace(/\./g, "")
          .replace(/,/g, "."),
        pagou: this.fatura.pagou
      };

      if (this.editando) {
        Axios.put(URL + this.fatura.idfatura, Fatura)
          .then(resp => {
            if (resp.status <= 204) this.$router.push({ path: "/" });
            else alert(resp);
          })
          .catch(() => alert("Ocorreu um erro ao atualizar o registro."));
      } else {
        Axios.post(URL, Fatura)
          .then(resp => {
            if (resp.status == 200) this.$router.push({ path: "/" });
            else alert(resp);
          })
          .catch(() => alert("Ocorreu um erro ao salvar o registro."));
      }
    }
  },

  created() {
    this.idfatura = this.$route.params.id || -1;
    if (this.idfatura !== -1) {
      this.editando = true;
      this.sub_titulo = "Editando";
      Axios.get(URL + this.idfatura).then(resp => {
        this.fatura = resp.data.fatura;
        this.fatura.data_vencimento = new Date(this.fatura.data_vencimento)
          .toLocaleDateString("pt-br")
          .split("/")
          .reverse()
          .join("-");
      });
    }
  }
};
</script>

<style scoped>
</style>
