<template>
  <div id="app">
    <MenuLateral/>
    <Cabecalho id="header" titulo="Visão" sub_titulo="Geral"/>
    <Pesquisa v-bind:FaturasArray="faturas" v-on:arrayFiltrado="filtrar"/>
    <Tabela
      v-bind:faturas="filtroFatura"
      v-on:del-fatura="removerFatura"
      v-on:cad-fatura="cadastrarFatura"
      v-on:edit-fatura="editarFatura"
    />
  </div>
</template>

<script>
import MenuLateral from "../components/menuLateral";
import Tabela from "../components/tabela";
import Cabecalho from "../components/cabecalho";
import Axios from "axios";
import Pesquisa from "../components/pesquisa";

import "bootstrap/dist/css/bootstrap.min.css";
import "font-awesome/css/font-awesome.min.css";

const URL = "http://localhost:3003/fatura/";

export default {
  name: "app",

  components: {
    Tabela,
    Cabecalho,
    Pesquisa,
    MenuLateral
  },

  data() {
    return {
      faturas: [],
      filtroFatura: [],
      fatura: {}
    };
  },

  methods: {
    removerFatura(id) {
      Axios.delete(URL + id).then(() => this.atualizar());
    },

    atualizar() {
      Axios.get(URL).then(
        resp => (this.faturas = this.filtroFatura = resp.data.faturas)
      );
    },

    cadastrarFatura() {
      this.$router.push({ path: "/faturaForm" });
    },

    editarFatura(id) {
      this.$router.push({ path: `/faturaForm/${id}` });
    },

    filtrar(array) {
      this.filtroFatura = array;
    }
  },

  created() {
    this.atualizar();
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.title {
  text-align: left;
}

#header {
  margin: 60px 15px;
}
</style>
