<template>
  <span>
    <label class="badge" v-bind:class="cor">{{label}}</label>
  </span>
</template>


<script>
export default {
  name: "button_dym",
  props: {
    pago: Boolean,
    data: String
  },
  methods: {
    definirEstado() {
      if (this.pago) {
        this.cor = "badge-success";
        this.label = "Pago";
      } else if (new Date() < new Date(this.data)) {
        this.cor = "badge-warning";
        this.label = "Devendo";
      } else {
        (this.cor = "badge-danger"), (this.label = "Vencida");
      }
    }
  },
  data() {
    return {
      cor: "",
      label: ""
    };
  },
  created() {
    this.definirEstado();
  }
};
</script>

<style scoped>
.badge {
  border-radius: 20px;
  padding: 5px;
  width: 100px;
}
</style>