<template>
  <header>
    <h2>
      {{titulo}}
      <small>{{sub_titulo}}</small>
    </h2>
  </header>
</template>

<script>
export default {
  name: "page_header",
  props: {
    titulo: String,
    sub_titulo: String
  }
};
</script>

<style scoped>
</style>
