<template>
  <tr v-bind:id="itemFatura.idfatura">
    <td>{{itemFatura.idcliente}}</td>
    <td>{{itemFatura.nome_empresa}}</td>
    <td>R$ {{String(itemFatura.valor).replace('.',',')}}</td>
    <td>{{new Date(itemFatura.data_vencimento).toLocaleDateString('pt-br')}}</td>
    <td>
      <BadgeDinamico v-bind:data="itemFatura.data_vencimento" v-bind:pago="itemFatura.pagou"/>
    </td>
    <td class="acoes">
      <button class="btn btn-warning mr-1" @click="$emit('edit-fatura', itemFatura.idfatura)">
        <i class="fa fa-edit"></i>
      </button>
      <button class="btn btn-danger" @click="$emit('del-fatura', itemFatura.idfatura)">
        <i class="fa fa-trash"></i>
      </button>
    </td>
  </tr>
</template>


<script>
import BadgeDinamico from "./badgeDinamico";
export default {
  name: "ItemFatura",
  props: ["itemFatura"],

  components: {
    BadgeDinamico
  }
};
</script>

<style scoped>
.acoes {
  text-align: right;
  width: 110px;
}
</style>
