<template></template>

<script>
import sidebarmenu from "vue";
export default {
  methods: {
    /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
    open() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    },

    /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
    close() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
    }
  }
};
</script>

<style>
</style>
