<template>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control col-md-6"
      placeholder="Pesquisar por nome da empresa"
      v-model="inputPesquisar"
    >
    <div class="input-group-append">
      <button class="input-group-text btn btn-primary" v-on:click="pesquisar">
        <i class="fa fa-search"></i>
      </button>
      <button
        v-if="inputPesquisar.length > 0 || !limpo"
        class="input-group-text btn btn-danger"
        v-on:click="limpar"
      >
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: ["FaturasArray"],

  data() {
    return {
      inputPesquisar: "",
      newArray: [],
      limpo: true
    };
  },

  methods: {
    pesquisar() {
      this.$emit("arrayFiltrado", this.filtrarFaturas);
    },

    limpar() {
      this.inputPesquisar = "";
      this.limpo = true;
      this.$emit("arrayFiltrado", this.filtrarFaturas);
    }
  },

  computed: {
    filtrarFaturas: function() {
      return this.FaturasArray.filter(x =>
        x.nome_empresa.includes(this.inputPesquisar)
      );
    }
  }
};
</script>

<style scoped>
</style>
