<template>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Cliente</th>
          <th>Empresa</th>
          <th>Valor</th>
          <th>Vencimento</th>
          <th>Pago</th>
          <th>
            <button class="btn btn-primary" v-on:click="$emit('cad-fatura')">
              <i class="fa fa-plus"></i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody v-bind:key="fatura._id" v-for="fatura in faturas">
        <ItemFatura
          v-bind:itemFatura="fatura"
          v-on:del-fatura="$emit('del-fatura', fatura.idfatura)"
          v-on:edit-fatura="$emit('edit-fatura', fatura.idfatura)"
        />
      </tbody>
      <tr v-if="faturas.length <= 0" id="semFaturas">
        <td colspan="6">Não há faturas cadastradas.</td>
      </tr>
    </table>
  </div>
</template>


<script>
import ItemFatura from "./itemFatura";
export default {
  name: "Tabela",
  props: ["faturas"],
  components: {
    ItemFatura
  }
};
</script>

<style scoped>
.table tbody tr {
  cursor: pointer;
}

.table thead th {
  vertical-align: middle;
}

.table thead th:last-child {
  text-align: right;
}

.table thead th:last-child button {
  margin-right: 24px;
}

#semFaturas {
  text-align: center;
  font-size: 25px;
}
#semFaturas td {
  padding-top: 30px;
}
</style>
