<template>
  <div class="container">
    <div>
      <div id="mySidenav" class="sidenav">
        <a class="closebtn" v-on:click="close">&times;</a>
        <a href="#/" v-on:click="close">home</a>
        <a href="#/faturaForm" v-on:click="close">Fatura</a>
      </div>

      <!-- Use any element to open the sidenav -->
      <span id="icone" v-on:click="open">
        <i class="fa fa-bars"></i>
      </span>
    </div>
    <div id="app">
      <router-view/>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
    open() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("app").style.marginLeft = "250px";
    },

    /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
    close() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("app").style.marginLeft = "0";
    }
  }
};
</script>


<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.title {
  text-align: left;
}

#header {
  margin: 60px 15px;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#icone {
  font-size: 25px;
  margin-top: 30px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
</style>
