<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>app</title>
</head>

<body>
  <noscript>
    <strong>Desculpe, mas o aplicativo não funciona corretamente sem o JavaScript habilitado. Por favor, habilite-o para
      continuar.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>